<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Movie Search Engine
	script(src="https://code.jquery.com/jquery-3.2.1.js")
	script
		include ../public/frontend/frontend.js
body
	block content
