extends base.pug

block content
	
	div.navbar
		a(href='/history')
			button.history Search History
		form(action="/logout" method="POST")
			button.logout Logout
	h1 Movie Search Engine
	div.searchBox
			input(name="search" type="text" required placeholder="Enter Movie Title" id="search")
			button.search(type="submit") Search
	div.searchResults
