extends base.pug

block content
	
	h1 Movie Search Engine
		form(method="POST" action="/")
			input(name="search" type="text" required placeholder="Enter Movie Title")
			button(type="submit") Search
