extends base.pug

block content
	
	div.navbar
			button.searchHistory SearchHistory
	h1 Movie Search Engine
	div.searchBox
			input(name="search" type="text" required placeholder="Enter Movie Title" id="search")
			button.search(type="submit") Search
	div.searchResults